@import "tailwindcss";

button,
a,
summary,
[role='button'],
input[type='button'],
input[type='submit'],
input[type='reset'] {
	cursor: pointer;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
	cursor: not-allowed;
}
